---
import Featured from '../components/Featured.astro';
import Footer from '../components/Footer.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Header from '../components/Header.astro';
import RecentWork from '../components/RecentWork.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <Header />

    <main id="main">
        <Featured />
        <RecentWork />
        <GetInTouch />
    </main>

    <Footer />
</Layout>