<!-- One -->
<section id="one">
	<header class="major">
    <h2 class="font-black" >Hola !!<br/>驴qui茅n soy?</h2>
	</header>
    <p>
		  Organizado y apasionado por el desarrollo y la arquitectura de software.
		  Mi enfoque met贸dico me permite abordar los desaf铆os con eficiencia y eficacia, mientras que mi actitud abierta y mente creativa me
      impulsan a adquirir constantemente nuevos conocimientos y encontrar soluciones innovadoras.
      Soy un colaborador confiable en equipo, combinando mi habilidad para coordinar esfuerzos con una profunda dedicaci贸n a la creaci贸n
      de software de alto impacto.<br/>
      Enfocado en crear soluciones robustas y de alta calidad, estoy preparado para aportar mi experiencia y pasi贸n a proyectos
      desafiantes.
    </p>
	<!--<ul class="actions">-->
	<!--	<li><a href="#" class="button">Learn More</a></li>-->
	<!--</ul>-->
</section>