<!-- Footer -->
<footer id="footer" class="bg-scroll bg-[top_left,right_center] bg-[auto,cover] right-auto p-[6em_4em] relative text-right top-auto w-[35%] block flex-1 justify-end">
    <div class="inner">
        <ul class="copyright">
            <li>Be Happy☕!</li>
            <li>Programing</li>
        </ul>
    </div>
</footer>
