---
import belvi from '../assets/fulls/belvi.jpg';
import belviTh from '../assets/thumbs/belvi.jpg';
---

<!-- Two -->
<section id="two">
	<h1 class="font-black">Recent Work</h1>
	<div class="row">
		<article class="col-6 col-12-xsmall work-item">
      <a href={belviTh.src} class="image fit thumb"><img src={belvi.src} alt="" /></a>
      <h3 class="font-bold">FrontEnd Developer</h3>
      <h3>Belvi Digital</h3>
      <hr class="bg-gray-300 p-0 my-0">
      <p>12 dic 2023 - Actualidad</p>
			<p>Madrid, Community of Madrid, Spain</p>
			<hr class="bg-gray-300 p-0 my-0">
			<p><strong>Habilidades: </strong>JavaScript | TypeScript | React.js | Next.js | Redux Toolkit | Arquitectura DDD | Arquitectura Hexagonal | SOLID Design Principles | Metodologías ágiles.</p>
		</article>
	</div>
	<!--<ul class="actions">-->
	<!--	<li><a href="#" class="button">Full Portfolio</a></li>-->
	<!--</ul>-->
</section>
